In [1]:
# Imports

import pandas as pd
from sqlalchemy import create_engine

In [16]:
# Set up the engine to access the data.

# 'driver://username:password@host:port/database'
engine = create_engine('postgres://postgres:kor@localhost:5432/capstone_urls')

In [56]:
X_test = 'facebook.com'

In [59]:

sql = """
SELECT u.url, u.label
FROM all_data.urls as u
WHERE u.url ILIKE '%s'
""" % X_test

sql_df = pd.read_sql(sql, engine)

if sql_df.iloc[0][1] == 1:
    result = 'found in the database. Careful, it is malicious! ðŸš«'
elif sql_df.iloc[0][1] == 0:
    result = 'found in the database. Congrats, it is benign! âœ…'
elif sql_df.empty == True:
    raise ValueError('not in database')

In [60]:
sql_df

            url  label
0  facebook.com      0